<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>tony-o</string>
	<key>Builder Version</key>
	<string>9537.77.4</string>
	<key>CFBundleDisplayName</key>
	<string>t.co Bypass</string>
	<key>CFBundleIdentifier</key>
	<string>com.github.tony-o.tco-bypass</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>greasemonkey.user.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>https://*.twitter.com/*</string>
			<string>https://tweetdeck.com/*</string>
		</array>
	</dict>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Level</key>
			<string>None</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/tony-o/t.co-bypass</string>
</dict>
</plist>
